* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
body,
html {
  margin: 0;
  padding: 0;
}
#page {
  padding-top: 30px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/***** { Header }******/
.wrapper {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1.2s;
}

header #indicator {
  display: none;
}

/*main logo*/
#header-logo {
  max-width: 250px;
}
/*Menu icon*/
#menu-mobile-icon {
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 35px;
  cursor: pointer;
}
/*** {Menu Below} ***/
#menu-wrapper {
  display: block;
  background: rgba(85, 89, 94, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*transition: 0.4s;*/
  /*Change this to 0 to hide menu*/
  visibility: hidden;
  opacity: 0;
}
/*X to close menu*/
#menu-close {
  position: relative;
  height: 21px;
  width: 21px;
  margin: 30px auto 0 auto;
  background: url(../img/x-close.png) center center no-repeat;
  background-size: 21px 21px;
  color: #fff;
  display: block;
  cursor: pointer;
  z-index: 25;
}
/*Table system to center menu list*/
/*For this is needed a display table and a display table cell*/
#menu-mobile {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
}
#menu-container {
  display: table-cell;
  vertical-align: middle;
}

ul#menu {
  padding: 0;
  margin: 0;
  border-top: 1px solid #6b6e73;
}
li.menu-item {
  display: list-item;
  list-style: disc;
}
a.menu-link {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1.2em;
  padding: 25px 0;
  border-bottom: 1px solid #6b6e73;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
}
/*********************/
/**********{ Articles }*********/
.products1 {
  margin: 30px 5px 1px;
  display: grid;
  grid-template-columns: auto;
}

.col1,
.col2 {
  grid-column: 1/2;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-heigh avoids grid malformation before images load*/
  min-height: 200px;
  width: 45vw;
}
a .card div {
  display: flex;
  justify-content: center;
  width: 50%;
}
a .card h2 {
  width: 50%;
}
.carous {
  min-height: 280px;
}

.card-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 2rem;
  /*"font-weight:unset" to remove bold from h2*/
  font-weight: unset;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/**********{ Footer }*********/
footer {
  background: rgb(91, 104, 112);
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 110px;
}

.btn-white {
  margin-left: 10px;
  border-radius: 80px;
  border: 1px solid white;
  font-size: 10px;
  background: transparent;
}
.btn-txt {
  color: white;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

::placeholder {
  color: #231f20;
  font-weight: bold;
}

input {
  background: white;
  border-radius: 80px;
  border: 1px solid white;
  font-size: 10px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-text {
  color: white;
  margin: 0px;
  margin-top: 5px;
  font-size: 10px;
}

.social {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subscribe {
  padding-top: 10px;
  padding-bottom: 5px;
}

.social-img {
  height: 25px;
  padding: 0 6px;
}
/**************************/

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 768px) {
  a {
    height: 15vh;
  }
  .card {
    min-height: 0;
  }
  a .card div {
    display: none;
  }
  .card {
    width: 80vw;
    height: 15vh;
  }
  a .card h2 {
    width: 100%;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*Hide menu-mobile-icon*/
  #menu-mobile-icon {
    display: none;
  }
  /*display menu *1 */
  #menu-wrapper {
    visibility: visible !important;
    opacity: 1 !important;
    background: transparent;
    position: unset;
  }
  #header-logo {
    max-width: 330px;
  }
  #menu-close {
    display: none;
  }
  #menu-mobile {
    display: block;
    position: relative;
  }
  #menu-container {
    display: block;
  }

  ul#menu {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
  }
  li.menu-item {
    display: unset;
  }
  a.menu-link {
    color: rgb(64, 122, 189);
    display: block;
    text-align: center;
    font-size: 0.7em;
    padding: 15px 12px 4px 12px;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    font-weight: bold;
  }
  #section1 {
    margin-top: 30px;
    position: unset;
    top: unset;
    right: unset;
  }
  /******* *1 *********/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .products1 {
    margin: 30px 5px 1px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .col1 {
    grid-column: 1/2;
  }
  .col2 {
    grid-column: 2/3;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

@media (max-width: 1200px) {
  img.bg {
    display: none;
  }
}
